# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
env/
ENV/
*.db
*.sqlite3

# Java / Maven
target/
*.class
*.war
.tools/
*.log

# IDE & OS
.vscode/
.idea/
*.swp
*~
.DS_Store
Thumbs.db

*.zip
